{% extends "layout.njk" %}

{% block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/recipe.css">
    <link rel="stylesheet" href="/responsivo.css">
{% endblock %}

{% block title %}
    <title>Recipes Foodfy</title>
{% endblock %}

{% block content %}
    <section id="container-accessed">

        <div class="grid-container">
            {% for card in cards %}
            <div class="card" id="{{card.id}}">
                <div class="img-card">
                    <img src="{{card.img}}" alt="">
                </div>               
                <div class="description-card">
                    <h2>{{card.title}}</h2>
                    <p class="madeBy">{{card.author}}</p>
                </div> 
            </div>
            {% endfor %}

            {% for card in cards %}
            <div class="card" id="{{card.id}}">
                <div class="img-card">
                    <img src="{{card.img}}" alt="">
                </div>               
                <div class="description-card">
                    <h2>{{card.title}}</h2>
                    <p class="madeBy">{{card.author}}</p>
                </div> 
            </div>
            {% endfor %}
        </div>  
    </section>

    </div>

    <div class="modal-container">     
        <div class="modal">
            <div class="img-card" id="">
                <button onclick="closeImage()">
                    <span class="material-icons">  
                        close
                    </span>
                </button>
                <img src="" alt="" onclick="openImage()">
            </div>
            <div class="description-card">
                <h2>Asinhas de frango ao barbecue</h2>
                <p class="madeBy">por Vania Steroski</p>
            </div>
            <button onclick="closeModal()" >Fechar modal</button>
        </div>
    </div>

    <script src="/modal.js"></script>

{% endblock %}
